{% extends "base.html" %}

{% block title %}Movie Reviews | Index{% endblock %}

{% block content %}

    {% if message %}
        <div class="alert alert-info">{{ message }}</div>
    {% endif %}

    <!-- Show the sort buttons only on the index page -->
    {% if sort_by %}
        <form method="GET">
            <div class="btn-group mb-3" role="group" aria-label="Sort Movies">
                <button type="submit" class="btn btn-outline-secondary {% if sort_by == 'title' %}active{% endif %}" name="sort_by" value="title">A-Z</button>
                <button type="submit" class="btn btn-outline-secondary {% if sort_by == '-title' %}active{% endif %}" name="sort_by" value="-title">Z-A</button>
                <button type="submit" class="btn btn-outline-secondary {% if sort_by == 'reviews' %}active{% endif %}" name="sort_by" value="reviews">By Reviews 🔽</button>
                <button type="submit" class="btn btn-outline-secondary {% if sort_by == '-reviews' %}active{% endif %}" name="sort_by" value="-reviews">By Reviews 🔼</button>
                <button type="submit" class="btn btn-outline-secondary {% if sort_by == 'release_year' %}active{% endif %}" name="sort_by" value="release_year">By Year 🔼</button>
                <button type="submit" class="btn btn-outline-secondary {% if sort_by == '-release_year' %}active{% endif %}" name="sort_by" value="-release_year">By Year 🔽</button>
            </div>
        </form>
    {% endif %}

    {% for movie in movies %}
        <div class="card text-bg-light mt-3 mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    {{ movie.title }}
                    <span class="text-body-secondary">| {{ movie.release_year }}</span>
                    {% if movie.average_rating != 0 %}
                        <span class="text-body-secondary">| ★{{ movie.average_rating }}</span>
                    <span class="text-body-secondary fs-6">
                            <!-- Number of reviews. It's plural if there's more than one-->
                            {% if movie.reviews.count < 1 %}
                                ({{ movie.reviews.count }} reviews)
                            {% else %}
                                ({{ movie.reviews.count }} review)
                            {% endif %}
                        </span>
                    {% endif %}
                </h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    {% for genre in movie.genres.all %}
                        <span class="badge text-bg-secondary">{{ genre }}</span>
                    {% endfor %}
                </h6>
                <p class="card-text">{{ movie.description }}</p>
                <a class="card-link" href="{% url 'movie' movie.id %}">view details</a>

            </div>
        </div>
    {% endfor %}
{% endblock %}
